/* Styling goes in this file */

body {
	font-family: Arial;
}

.centered {
	text-align: center;
}

#name {
	font-size: 30px;
	color: forestgreen;
	font-style: italic;
}

#other-text {
	text-align: left;
	color: cadetblue;
	font-weight: bold;
}